soap-webservice/service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- <definitions> must be the root of the WSDL document -->
<wsdl:definitions targetNamespace="http://tempuri.org/"
    xmlns:s="http://www.w3.org/2001/XMLSchema"
    xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
    xmlns:tns="http://tempuri.org/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <!-- WSDL TYPES: definition of the data types that are used in the web service -->
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
            <s:element name="CityRequest">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="name" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="CityResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="msg" type="s:string" />
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </wsdl:types>
    <!-- MESSAGES: defines the data being exchanged between the service and client -->
    <wsdl:message name="CityRequestSoapIn">
        <wsdl:part name="parameters" element="tns:CityRequest" />
    </wsdl:message>
    <wsdl:message name="CityResponseSoapOut">
        <wsdl:part name="parameters" element="tns:CityResponse" />
    </wsdl:message>
    <!-- PORT TYPES: defines the complete communication operation (one way/round trip) -->
    <wsdl:portType name="CitySoapPort">
        <!-- The operation name must be the same as the one specified in the service object -->
        <wsdl:operation name="City">
            <wsdl:input message="tns:CityRequestSoapIn" />
            <wsdl:output message="tns:CityResponseSoapOut" />
        </wsdl:operation>
    </wsdl:portType>
    <!-- BINDING: provides details on how a portType operation will actually be transmitted -->
    <wsdl:binding name="CityServiceSoapBinding" type="tns:CitySoapPort">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="City">
            <soap:operation soapAction="City" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CityServiceSoap12Binding" type="tns:CitySoapPort">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="City">
            <soap12:operation soapAction="City" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <!-- SERVICE:  -->
    <wsdl:service name="CityService">
        <wsdl:port name="CityServiceSoapPort" binding="tns:CityServiceSoapBinding">
            <soap:address location="http://localhost:3000/wsdl" />
        </wsdl:port>
        <wsdl:port name="CityServiceSoap12Port" binding="tns:CityServiceSoap12Binding">
            <soap12:address location="http://localhost:3000/wsdl" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>